.gradle/
build/

# Eclipse stuff
.classpath
.project
.settings/

# VSCode stuff
.vscode/

# netbeans
nbproject/
nbactions.xml

# vim
.*.sw[a-p]

# various other potential build files
build/
bin/
dist/
manifest.mf

# Mac filesystem dust
.DS_Store/
.DS_Store

# intellij
*.iml
*.ipr
*.iws
.idea/
out/

# Linux temp files
*~

# other stuff
run/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

/sparklypaper-server/build.gradle.kts
/sparklypaper-server/src/minecraft
/sparklypaper-server/build
/paper-server
/sparklypaper-api/build
/sparklypaper-api/build.gradle.kts
/paper-api
/paper-api-generator


!gradle/wrapper/gradle-wrapper.jar
